body { background: #c77cae; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-helper-0 { color: #69617d; font-size: 14px; margin-bottom: 5px; }
.block-config-1 { color: #89a7d6; font-size: 13px; margin-bottom: 5px; }
.block-cluster-2 { color: #4f9f5f; font-size: 12px; margin-bottom: 5px; }
.block-invoice-3 { color: #4e1147; font-size: 19px; margin-bottom: 5px; }
.block-session-4 { color: #b0a8bc; font-size: 12px; margin-bottom: 5px; }
.block-logger-5 { color: #d34400; font-size: 18px; margin-bottom: 5px; }